*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

body{
    background-color: #cff;
}

article{
    width: 500px;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    background-color: #ccc;
    width: 500px;
}

.tab-btn{
    all: unset;
    padding: 20px 0;
    cursor: pointer;
    width: 100%;
}


.tab-btn.active {
    background-color: white;
}

.content {
    display: none;
}

.content.active{
    display: block;
}

/********************************/
/********************************/



/********************************/
/********************************/





/********************************/
/********************************/



/********************************/
/********************************/



/********************************/
/********************************/

@media(max-width:767px){

}

@media(min-width:768px){
    .container{
        width: 750px;
    }
}

@media(min-width:992px){
    .container{
        width: 970px;
    }
}

@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}