*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eaecef;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    row-gap: 20px;
}

.container .box {
    background-color: white;
    width: 450px;
    padding: 0 20px;
    overflow: hidden;

}


.container .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.container .question button {
    padding: 0px 4px;
}

.container .answer {
    /* height: 0;
  visibility: hidden;
  opacity: 0;
  */
    display: none;

    transition: 0.9s;
}

.container .box.active .answer {
    display: block;
    /* visibility: visible;
  opacity: 1;
  transition: 0.4s;
  height: 90px; */

    transition: 0.9s;
}